<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/agregar_item.css" />
</head>
<!-- partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>
    <!-- partial del header -->
    <%- include(`./partials/header.ejs`) %>

    <div class="container-fluid add_prod">
        <div class="row row_prod">
            <div class="col-12">
                <form id="form_padre" action="/prod/add/prod" method="POST" enctype="multipart/form-data">
                    <!-- Nombre del producto -->
                    <p>
                        <input type="text" name="marca" placeholder="Marca" required >
                    </p>
                    <p>
                        <input type="text" name="modelo" placeholder="Modelo" required >
                    </p>
                    <!-- Descripción -->
                    <p>
                        <textarea rows="6" cols="35" name="descripcion" placeholder="Añadí una descripción"
                            required></textarea>
                    </p>
                    <!-- Imagen -->
                    <p>
                        <input type="file" name="imagen">
                    </p>
                    <!-- Categoría -->
                    <p>
                        <label for="categoria">Elije la categoria:</label><br>
                        <select id="cat_btn" name="categoria" required>

                            <% categorias.forEach(categoria => { %>

                            <option value="<%- categoria.id %>"><%- categoria.nombre %> </option>

                            <% }) %>

                        </select>
                    </p>
                    <!-- Precio -->
                    <p>
                        <input type="text" name="precio" placeholder="Precio">
                    </p>
                    <p>
                        <input type="text" name="descuento" placeholder="Descuento">
                    </p>
                    <!-- boton "agregar" -->
                    <p>
                        <button class="btn_sbt" type="submit">Agregar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>

    <!-- partial del footer -->
    <%- include(`./partials/footer.ejs`) %>

    <!-- partial de scripts -->
    <%- include(`./partials/scripts.ejs`) %>
</body>

</html>