<!DOCTYPE html>
<html lang="es">
<!-- Partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>

  <!-- Partial del header -->
  <%- include(`./partials/header.ejs`) %>

  <main class="container-fluid px-0 mt-3">
    <div class="row mx-0 py-2 mainCard">
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>


            <% carrito.forEach(producto => { %>
            
            <tr>
              <th scope="row"><img src="/img/products/<%- producto.imagen %>" alt="" width="50"></th>
              <td><%- producto.marca %> <%- producto.modelo %></td>
              <td><%- producto.cantidad %></td>
              <td>$<%- producto.precio * producto.cantidad %></td>
            </tr>
            <% }) %>

          </tbody>
        </table>
      </div>

    </div>
  </main>

  <!-- Partial del footer -->
  <%- include(`./partials/footer.ejs`) %>

  <!-- Partial de scripts -->
  <%- include(`./partials/scripts.ejs`) %>

</body>

</html>