<!DOCTYPE html>
<html lang="es">
<!-- partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>
    <!-- partial del header -->
    <%- include(`./partials/header.ejs`) %>
    
    <main class="container-fluid px-0">
        <div class="bienvenidx row mx-0 py-2 mainCard">
          <h4 class="col-12">Nuestras categorías / <a href="/prod"">Nuestros productos</a></h4>
        </div>
          <div class=" row vistaProductos mx-0 py-2 mainCard ">
          <% categorias.forEach(categoria => { %>
            <div class=" card col-5 my-3">
              <a href="/prod/cat/<%= categoria.id %>">
                <i class="<%-categoria.icono%> card-img-top"></i>
                <div class="card-body mx-0 p-0">
                  <h6 class="card-title"><%= categoria.nombre %></h6>
                </div>
              </a>
            </div>
          <% }) %>
          </div>
        </div>
      </main>
    <!-- partial del footer -->
    <%- include(`./partials/footer.ejs`) %>
    <!-- partial de scripts -->
    <%-include(`./partials/scripts.ejs`) %>
</body>

</html>