<!DOCTYPE html>
<html lang="es">
<!-- partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>
    <!-- partial del header --><%- include(`./partials/header.ejs`) %>
    <div class=="container-fluid sticky-top catPadre">
        <div class="row" id="cat1">
            <!-- listado de categorias -->

            <% categorias.forEach(categoria => { %>
            
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 cat_items">
                    <i class="<%-categoria.icono%> cat-icon"></i>
                    <p><%-categoria.nombre%></p>
                </div>

            <% }) %>

        
        </div>
    </div>
    <!-- partial del footer -->
    <%- include(`./partials/footer.ejs`) %>
    <!-- partial de scripts -->
    <%-include(`./partials/scripts.ejs`) %>
</body>

</html>