<!DOCTYPE html>
<html lang="es">
<!-- partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>

    <!-- partial del header -->
    <%- include(`./partials/header.ejs`) %>

    <!-- Cuerpo del home -->
    <main class="container-fluid px-0">

        <!-- carousel de novedades -->
        <div id="carruselNovedades" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/flyerRTX20s.jpg" class="d-block w-100" alt="flyer rtx">
                    <div class="carousel-caption d-none">
                        <h5>RTX. IT’S ON.</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/flyerIntel10.jpg" class="d-block w-100" alt="flyer Intel">
                    <div class="carousel-caption d-none">
                        <h5>La potencia de la 10</h5>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/flyerConsolas.jpg" class="d-block w-100" alt="flyer consolas">
                    <div class="carousel-caption d-none">
                        <h5>¿Tenés consola?</h5>
                        <p>¡No nos olvidamos de vos!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bienvenidx row mx-0 py-2 mainCard">
            <% if (usuario != undefined){%>
                <h3 class="col-9 mb-0">Bienvenidx <%- usuario.nombre %></h3>
                <a href="/user/logout">Cerrar sesión</a>
            <% } %>
        </div>
        <div class="row vistaProductos mx-0 py-2 mainCard">
            <h3 class="col-12">Podría interesarte / <a href="/prod"">Ver todo</a></h3>

                <% for( let i = 0; i < 5; i++ ) { %>

                <% if (i < 2) { %>

                <div class=" card col-5">
                    <a href="/prod/det/<%- productos[i].id %>">
                        <img src="/img/products/<%- productos[i].imagen%>" class="card-img-top" alt="img producto">
                        <div class="card-body mx-0 p-0">
                            <h6 class="card-title"><%- productos[i].marca%> <%- productos[i].modelo%></h6>
                            <a href="#" class="btn">$<%- productos[i].precio%></a>
                        </div>
                    </a>
                </div>

                <% } else if (i < 3) {%>

                <div class="card col-5 movilH d-none">
                    <a href="/prod/det/<%- productos[i].id %>">
                    <img src="/img/products/<%- productos[i].imagen%>" class="card-img-top" alt="img producto">
                    <div class="card-body mx-0 p-0">
                        <h6 class="card-title"><%- productos[i].marca%> <%- productos[i].modelo%></h6>
                        <a href="#" class="btn">$<%- productos[i].precio%></a>
                    </div>
                    </a>
                </div>

                <% } else if (i < 4) {%>

                <div class="card col-5 tabletH d-none">
                    <a href="/prod/det/<%- productos[i].id %>">
                    <img src="/img/products/<%- productos[i].imagen%>" class="card-img-top" alt="img producto">
                    <div class="card-body mx-0 p-0">
                        <h6 class="card-title"><%- productos[i].marca%> <%- productos[i].modelo%></h6>
                        <a href="#" class="btn">$<%- productos[i].precio%></a>
                    </div>
                    </a>
                </div>

                <% } else {%>

                <div class="card col-5 pAncha d-none">
                    <a href="/prod/det/<%- productos[i].id %>">
                    <img src="/img/products/<%- productos[i].imagen%>" class="card-img-top" alt="img producto">
                    <div class="card-body mx-0 p-0">
                        <h6 class="card-title"><%- productos[i].marca%> <%- productos[i].modelo%></h6>
                        <a href="#" class="btn">$<%- productos[i].precio%></a>
                    </div>
                    </a>
                </div>

                <% } %>
                <% } %>


        </div>
        <div class="row seccionCategorias m-0 p-2 mainCard">
            <h3 class="col-12">¿Qué buscas?</h3>

            <% for (let i = 0; i < 9; i ++){ %>

            <% if (i < 3){ %>
            <div class="col-2 p-0">
                <a href="/prod/cat/<%- categorias[i].nombre %>">
                    <i class="<%- categorias[i].icono %>"></i>
                    <p><%- categorias[i].nombre %></p>
                </a>
            </div>
            <% } else if (i < 4){%>
            <div class="col-2 p-0 d-none catM">
                <a href="/prod/cat/<%- categorias[i].nombre %>">
                    <i class="<%- categorias[i].icono %>"></i>
                    <p><%- categorias[i].nombre %></p>
                </a>
            </div>
            <% } else if (i < 5){%>
            <div class="col-2 p-0 d-none catT">
                <a href="/prod/cat/<%- categorias[i].nombre %>">
                    <i class="<%- categorias[i].icono %>"></i>
                    <p><%- categorias[i].nombre %></p>
                </a>
            </div>
            <% } else {%>
            <div class="col-2 p-0 d-none catPA">
                <a href="/prod/cat/<%- categorias[i].nombre %>">
                    <i class="<%- categorias[i].icono %>"></i>
                    <p><%- categorias[i].nombre %></p>
                </a>
            </div>
            <% } %>

            <% } %>
            <div class="col-2 p-0">
                <a href="/prod/cat">
                    <i class="fas fa-list"></i>
                    <p>Todo</p>
                </a>
            </div>

        </div>

        <div>
            <div class="row vistaProductos mx-0 py-2 mainCard">
                <h3 class="col-12">Últimos ingresos</h3>

                <% for (let i = productos.length - 6; i <= productos.length; i++){ %>

                    <% if (i < productos.length - 5) { %>

                        <div class=" card col-5">
                            <a href="/prod/det/<%- productos[i].id %>">
                                <img src="/img/products/<%- productos[i].imagen%>" class="card-img-top" alt="img producto">
                                <div class="card-body mx-0 p-0">
                                    <h6 class="card-title"><%- productos[i].marca%> <%- productos[i].modelo%></h6>
                                    <a href="#" class="btn">$<%- productos[i].precio%></a>
                                </div>
                            </a>    
                        </div>
        
                        <% } else if (i < productos.length - 3) {%>
        
                        <div class="card col-5 movilH d-none">
                            <a href="/prod/det/<%- productos[i].id %>">
                            <img src="/img/products/<%- productos[i].imagen%>" class="card-img-top" alt="img producto">
                            <div class="card-body mx-0 p-0">
                                <h6 class="card-title"><%- productos[i].marca%> <%- productos[i].modelo%></h6>
                                <a href="#" class="btn">$<%- productos[i].precio%></a>
                            </div>
                            </a>
                        </div>
        
                        <% } else if (i < productos.length - 2) {%>
        
                        <div class="card col-5 tabletH d-none">
                            <a href="/prod/det/<%- productos[i].id %>">
                            <img src="/img/products/<%- productos[i].imagen%>" class="card-img-top" alt="img producto">
                            <div class="card-body mx-0 p-0">
                                <h6 class="card-title"><%- productos[i].marca%> <%- productos[i].modelo%></h6>
                                <a href="#" class="btn">$<%- productos[i].precio%></a>
                            </div>
                            </a>
                        </div>
        
                        <% } else if (i < productos.length - 1){%>
        
                            <div class="card col-5 pAncha d-none">
                                <a href="/prod/det/<%- productos[i].id %>">
                                <img src="/img/products/<%- productos[i].imagen%>" class="card-img-top" alt="img producto">
                                <div class="card-body mx-0 p-0">
                                    <h6 class="card-title"><%- productos[i].marca%> <%- productos[i].modelo%></h6>
                                    <a href="#" class="btn">$<%- productos[i].precio%></a>
                                </div>
                                </a>
                            </div>
        
                        <% } %>

                <% } %>

                
            </div>
        </div>

    </main>

    <!-- partial del footer -->
    <%- include(`./partials/footer.ejs`) %>

    <!-- partial de scripts -->
    <%- include(`./partials/scripts.ejs`) %>

</body>

</html>