<!DOCTYPE html>
<html lang="es">
<!-- Partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>

    <!-- Partial del header -->
    <%- include(`./partials/header.ejs`) %>

    <!-- Cuerpo del productDetail (pegar debajo)-->
    <main class="container-fluid px-0">
        <div class="row detalle1 mx-0 py-2 mainCard">
            <span class="migajas px-0 m-0">
                <a href="/">Home</a> >
                <a href="/prod/cat/<%-producto.categoria%>"><%-producto.categoria%></a> >
                <a href="/prod/det/<%-producto.id%>"><%-producto.id %></a> >
                <a href="/prod/marca/<%- producto.marca %>"><%- producto.marca %></a>
            </span>
            <div class="card col-11 product">
                <img src="/img/products/<%- producto.imagen%>" alt="imagen producto" class="card-img-top productImg">
                <div class="card-body mx-0 p-0 money">
                    <h3 class="card-title"><%- producto.marca %> <%- producto.modelo %></h3>
                    <h2 class="card-title precio">$<%- producto.precio %></h2> 
                    <h5>O en 3 cuotas s/interés de $<%-producto.precio / 3 %></h5>
                    <form class="row carroProducto" method="POST" action="/user/cart">
                        <input type="text" class="d-none" name="id" value="<%- producto.id %>">
                        <input type="text" class="d-none" name="marca" value="<%- producto.marca %>">
                        <input type="text" class="d-none" name="modelo" value="<%- producto.modelo %>">
                        <input type="text" class="d-none" name="precio" value="<%- producto.precio %>">
                        <input type="text" class="d-none" name="imagen" value="<%- producto.imagen %>">
                        <input type="number" placeholder="Ingrese cantidad" name="cantidad" class="form-control col-5">
                        <button type="submit" class="btn col-5">
                            <i class="fas fa-shopping-cart"></i> Agregar
                        </button>
                    </form>
                    <% if (locals.user != undefined && locals.user.admin === true){ %>
                    
                        <div class="col-12 row">
                            <a href="/prod/<%- producto.id %>/edit" class="btn ">Editar</a>
                            <form action="/prod/<%- producto.id %>/delete?_method=DELETE" method="POST">
                                <input type="submit" value="Borrar" class="btn">
                            </form>
                        </div>
                        
                    <% } %>
                    
                </div>
            </div>
        </div>
        <div class="row mx-0 py-2 mainCard mt-2">
            <div class="card col-11">
                <ul class="nav nav-tabs" id="detalles" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tecnicos-tab" data-toggle="tab" href="#tecnicos" role="tab"
                            aria-controls="tecnicos" aria-selected="true">Detalles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="comentarios-tab" data-toggle="tab" href="#comentarios" role="tab"
                            aria-controls="comentarios" aria-selected="false">Comentarios</a>
                    </li>
                </ul>
                <div class="tab-content" id="detallesContent">
                    <div class="tab-pane fade show active" id="tecnicos" role="tabpanel" aria-labelledby="tecnicos-tab">
                        <%- producto.descripcion %></div>
                    <div class="tab-pane fade" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab">Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Possimus, maxime!</div>
                </div>
            </div>
        </div>
        <div class="row vistaProductos mx-0 py-2 mainCard">
            <h3 class="col-12">Productos relacionados</h3>
            <div class="card col-5">
                <img src="/img/intelCeleron.jpg" class="card-img-top" alt="intel celeron">
                <div class="card-body mx-0 p-0">
                    <h5 class="card-title">Lorem</h5>
                    <a href="#" class="btn">$PRECIO</a>
                </div>
            </div>
            <div class="card col-5">
                <img src="/img/intelCeleron.jpg" class="card-img-top" alt="intel celeron">
                <div class="card-body mx-0 p-0">
                    <h5 class="card-title">Lorem</h5>
                    <a href="#" class="btn">$PRECIO</a>
                </div>
            </div>
            <div class="card col-5 movilH d-none">
                <img src="/img/intelCeleron.jpg" class="card-img-top" alt="intel celeron">
                <div class="card-body mx-0 p-0">
                    <h5 class="card-title">Lorem</h5>
                    <a href="#" class="btn">$PRECIO</a>
                </div>
            </div>
            <div class="card col-5 tabletH d-none">
                <img src="/img/intelCeleron.jpg" class="card-img-top" alt="intel celeron">
                <div class="card-body mx-0 p-0">
                    <h5 class="card-title">Lorem</h5>
                    <a href="#" class="btn">$PRECIO</a>
                </div>
            </div>
            <div class="card col-5 pAncha d-none">
                <img src="/img/intelCeleron.jpg" class="card-img-top" alt="intel celeron">
                <div class="card-body mx-0 p-0">
                    <h5 class="card-title">Lorem</h5>
                    <a href="#" class="btn">$PRECIO</a>
                </div>
            </div>
        </div>
    </main>

    <!-- Partial del footer -->
    <%- include(`./partials/footer.ejs`) %>

    <!-- Partial de scripts -->
    <%- include(`./partials/scripts.ejs`) %>

</body>

</html>