<!DOCTYPE html>
<html lang="es">
<!-- Partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>

    <!-- Partial del header -->
    <%- include(`./partials/header.ejs`) %>

    <!-- Cuerpo del productDetail (pegar debajo)-->
    <main class="container-fluid px-0">
        <div class="row detalle1 mx-0 py-2 mainCard">
            <span class="migajas px-0 m-0">
                <a href="/">Home</a> >
                <a href="/prod/cat/<%-producto.id_categorias%>"><%-producto.categoria.nombre%></a> >
                <a href="/prod/det/<%-producto.id%>"><%-producto.id %></a> >
            </span>
            <div class="card col-11 product">
                <img src="/img/products/<%- producto.imagen%>" alt="imagen producto" class="card-img-top productImg">
                <div class="card-body mx-0 p-0 my-auto money">
                    <h1 class="card-title"><%- producto.marca.toUpperCase() %> <%- producto.modelo.toUpperCase() %></h1>
                    <h1 class="card-title precio">$<%- producto.precio %> </h1>
                    <form action="" class="row col-12 m-0 p-0">
                        <label for="">Calculá tus cuotas s/interés</label>
                        <h2 id="precioCuotas" class="col-10 form-control"> </h2>
                        <input id="precio" type="text" class="d-none" name="precio" value="<%- producto.precio %>">
                        <select class="form-control col-2" name="" id="cuotas">
                            <option value=""disabled selected>#</option>
                            <option value="1">1</option>
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="12">12</option>
                            <option value="18">18</option>
                        </select>
                    </form>
                    <h5>Si lo ves, es porque tenemos stock!</h5>
                    
                    <form class="row col-12 m-0 p-0 carroProducto" method="POST" action="/user/cart" >
                        <input type="text" class="d-none" name="id" value="<%- producto.id %>">
                        <input type="text" class="d-none" name="marca" value="<%- producto.marca %>">
                        <input type="text" class="d-none" name="modelo" value="<%- producto.modelo %>">
                        <input type="text" class="d-none" name="precio" value="<%- producto.precio %>">
                        <input type="text" class="d-none" name="imagen" value="<%- producto.imagen %>">
                        <input type="number" placeholder="Ingrese cantidad" name="cantidad" class="form-control col-6">
                        <button type="submit" class="btn col-6">
                            <i class="fas fa-shopping-cart"></i> Agregar
                        </button>
                    </form>
                    
                    <% if (locals.user != undefined && locals.user.admin === true){ %>
                        <div class="col-12 row mx-0 p-0">
                            
                            <button class="btn col-6 editar"><a href="/prod/<%- producto.id %>/edit">Editar</a></button>
                            <form action="/prod/<%- producto.id %>/delete?_method=DELETE" method="POST" class="row col-6 m-0 p-0">
                                <button class="btn col-12 eliminar" type="submit">Eliminar</button>
                            </form>
                        </div>
                    <% } %>
                    
                </div>
            </div>
        </div>
        <div class="row mx-0 py-2 mainCard mt-2">
            <div class="card col-11">
                <ul class="nav nav-tabs" id="detalles" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tecnicos-tab" data-toggle="tab" href="#tecnicos" role="tab"
                            aria-controls="tecnicos" aria-selected="true">Detalles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="comentarios-tab" data-toggle="tab" href="#comentarios" role="tab"
                            aria-controls="comentarios" aria-selected="false">Comentarios</a>
                    </li>
                </ul>
                <div class="tab-content" id="detallesContent">
                    <div class="tab-pane fade show active" id="tecnicos" role="tabpanel" aria-labelledby="tecnicos-tab">
                        <%- producto.descripcion %></div>
                    <div class="tab-pane fade" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab">Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Possimus, maxime!</div>
                </div>
            </div>
        </div>
        <% let productosDeCategoria = [] %>
        <% productos.forEach(productoSeleccionado => { %>
            
            <% if(productoSeleccionado.id_categorias == producto.id_categorias && productoSeleccionado.id != producto.id){ %>

                <% productosDeCategoria.push(productoSeleccionado) %>

            <% } %>

        <% }) %>
        <% if(productosDeCategoria.length > 4){ %> 

            <div class="row vistaProductos mx-0 py-2 mainCard">
                <h3 class="col-12">Productos relacionados</h3>
                <% for(let i = 0; i < 5; i++) { %>
    
                    <% if(i < 2){ %>
                        <a href=" /prod/det/<%- productosDeCategoria[i].id %>">
                            <div class=" card col-5">
                                <img src="/img/products/<%- productosDeCategoria[i].imagen%>" class="card-img-top" alt="img producto">
                                <div class="card-body mx-0 p-0">
                                    <h6 class="card-title"><%- productosDeCategoria[i].marca%> <%- productosDeCategoria[i].modelo%></h6>
                                    <a class="btn">$<%- productosDeCategoria[i].precio%></a>
                                </div>
                            </div>
                        </a>
                    <%} else if(i < 3){ %>
                        <a href="/prod/det/<%- productosDeCategoria[i].id %>">
                            <div class="card col-5 movilH d-none">
                                <img src="/img/products/<%- productosDeCategoria[i].imagen%>" class="card-img-top" alt="img producto">
                                <div class="card-body mx-0 p-0">
                                    <h6 class="card-title"><%- productosDeCategoria[i].marca%> <%- productosDeCategoria[i].modelo%></h6>
                                    <a class="btn">$<%- productosDeCategoria[i].precio%></a>
                                </div>
                            </div>
                        </a>
                    <% } else if (i < 4){%>
                        <a href="/prod/det/<%- productosDeCategoria[i].id %>">
                            <div class="card col-5 tabletH d-none">
                                <img src="/img/products/<%- productosDeCategoria[i].imagen%>" class="card-img-top" alt="img producto">
                                <div class="card-body mx-0 p-0">
                                    <h6 class="card-title"><%- productosDeCategoria[i].marca%> <%- productosDeCategoria[i].modelo%></h6>
                                    <a class="btn">$<%- productosDeCategoria[i].precio%></a>
                                </div>
                            </div>
                        </a>
        
                    <% } else {%>
                        <a href="/prod/det/<%- productosDeCategoria[i].id %>">
                            <div class="card col-5 pAncha d-none">
                                <img src="/img/products/<%- productosDeCategoria[i].imagen%>" class="card-img-top" alt="img producto">
                                <div class="card-body mx-0 p-0">
                                    <h6 class="card-title"><%- productosDeCategoria[i].marca%> <%- productosDeCategoria[i].modelo%></h6>
                                    <a class="btn">$<%- productosDeCategoria[i].precio%></a>
                                </div>
                            </div>
                        </a>
                    <% } %>
                    
        
                <% } %>
            </div>

        <% } %> 
            
        
    </main>

    <!-- Partial del footer -->
    <%- include(`./partials/footer.ejs`) %>

    <!-- Partial de scripts -->
    <%- include(`./partials/scripts.ejs`) %>
    <script src="/javascripts/detalleProducto.js"></script>

</body>

</html>