<!DOCTYPE html>
<html lang="es">
<!-- Partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>
  <!-- Partial del header -->
  <%- include(`./partials/header.ejs`)%>
  <main class="container-fluid px-0">
    <div class="bienvenidx row mx-0 py-2 mainCard">
      <h4 class="col-12">Nuestros productos / <a href="/prod/cat"">Categorías</a></h4>
    </div>
      <div class=" row vistaProductos mx-0 py-2 mainCard ">
      <% productos.forEach(producto => { %>
        <a href=" /prod/det/<%= producto.id %>">
          <div class=" card col-5 my-3">
            <img src="/img/products/<%= producto.imagen%>" class="card-img-top" alt="img producto">
            <div class="card-body mx-0 p-0">
              <h6 class="card-title"><%= producto.marca%> <%= producto.modelo%></h6>
              <a class="btn">$<%= producto.precio%></a>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </main>
  <!-- Partial del footer -->
  <%-include(`./partials/footer.ejs`) %>

  <!-- Partial de scripts -->
  <%-include(`./partials/scripts.ejs`)%>
</body>

</html>