<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/agregar_item.css" />
</head>
<!-- partial del head -->
<%- include(`./partials/head.ejs`) %>

<body>
    <!-- partial del header -->
    <%- include(`./partials/header.ejs`) %>


    <main class="container-fluid px-0">
        <div class="bienvenidx row mx-0 py-2 mainCard">
            <h3 class="col-9 mb-0">Perfil</h3>
        </div>
        <div class="row vistaProductos mx-0 py-2 mainCard">
            <form action="/user/<%-usuario.id%>/edit?_method=PUT" class="row col-10 m-0 p-0" method="POST"
                enctype="multipart/form-data" id="formularioEdicion">
                <input id="nombre" class="form-control col-12" type="text" name="nombre" value="<%- usuario.nombre %>" disabled>
                <input id="apellido" class="form-control col-12" type="text" name="apellido" value="<%- usuario.apellido %>" disabled>
                <input id="email" class="form-control col-12" type="email" name="email" value="<%- usuario.email %>" disabled>
                <input id="fecha" class="form-control col-12" type="date" name="fecha" value="<%- usuario.fecha?usuario.fecha:`` %>">
                <input id="direccion" class="form-control col-12" type="text" name="direccion" value="<%- usuario.direccion?usuario.direccion:`` %>" placeholder="Ingrese su dirección">
                <input id="ciudad" class="form-control col-12" type="text" name="ciudad" value="<%- usuario.ciudad?usuario.ciudad:`` %>" placeholder="Ingrese una ciudad">
                <input id="provincia" class="form-control col-12" type="text" name="provincia" value="<%- usuario.provincia?usuario.provincia:``%>" placeholder="Ingrese una provincia">
                <button class="btn col-6" type="submit">Actualizar</button><button class="btn col-6"><a href="/">Cancelar</a></button>
            </form>
            
            <form action="/user/<%- usuario.id %>/delete?_method=DELETE" class="row col-10 m-0 p-0" method="POST">
                <button class="btn col-12 eliminar" type="submit">Eliminar cuenta</button>
            </form>
            
        </div>

    </main>



               

    <!-- partial del footer -->
    <%- include(`./partials/footer.ejs`) %>

    <!-- partial de scripts -->
    <%- include(`./partials/scripts.ejs`) %>
</body>

</html>